$header-height: 60px;

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  &:before, &:after {
    box-sizing: border-box;
  }
}
html, body {
  height: 100%;
}
body {
  font-family: 'soleil', sans-serif;
  font-weight: 300;
  color: #444444;
  font-size: 20px;
  background-color: #5C9CF7;
  background-image: image_url("trlo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  &.auth-screen {
    background-image: image_url("splash-bg.jpg");
  }
}
.center-content__container {
  display: flex;
  height: calc(100vh - #{$header-height});
  align-items: center;
  justify-content: center;
}
.center-content__content {
  margin-bottom: $header-height;
}
pre, code {
 font-family: Consolas, monaco, monospace;
 border-radius: 2px;
 border: 1px solid #D6DADC;
 margin: 8px 0;
 padding: 8px 10px;
 word-wrap: normal;
 background: #E2E4E6;
 display: block;
 white-space: pre;
 text-align: left;
 overflow: scroll;
}
