* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  &:before, &:after {
    box-sizing: border-box;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: 'soleil', sans-serif;
  font-weight: 300;
  color: #444444;
  font-size: 20px;
}

.site-container {
    background-color: #5C9CF7;
    height: 100%;
}

pre, code {
 font-family: Consolas, monaco, monospace;
 border-radius: 2px;
 border: 1px solid #D6DADC;
 margin: 8px 0;
 padding: 8px 10px;
 word-wrap: normal;
 background: #E2E4E6;
 display: block;
 white-space: pre;
 text-align: left;
 overflow: scroll;
}

.logo {
  color: #fff;
}
